<div class="block-section py-4 px-8">
  <div class="block-header">
      <span class="block-title">
        <h3 class="t-busqueda">Buscar Seguimiento de Reclamo</h3>
      </span>
    <div class="block-actions text-900">


    </div>
  </div>



  <div class="block-content">
    <div class="ng-star-inserted">
      <div class="surface-section px-4 py-4 md:px-6 lg:px-8">
        <div class="text-900 w-full line-height-3 text-center my-4">Conoce el estado de tu reclamo</div>
        <div class="grid">
        <div class="col-6 col-offset-3">
          <div class="p-inputgroup">
      <span class="p-float-label">
          <input pInputText id="sede_nombre" class="p-inputtext-sm w-full" placeholder="Ingrese código de seguimiento" />
          <label htmlFor="Código de seguimiento">Código de seguimiento</label>
      </span>

          </div>


          <div class="col-12 ">
            <div class="flex px-8 py-3 align-items-center justify-content-center">
              <button pButton pRipple (click)="BuscarSeguimiento()" label="Buscar seguimiento" icon="pi pi-search" class="flex align-items-center justify-content-center  font-bold px-5 py-3 p-button-primary p-button-raised p-button-rounded white-space-nowrap mr-5"></button>

            </div>
          </div>


        </div>
        </div>

      </div>
  </div>
</div>
</div>

