
<div class=" lg:px-8">
  <div class="font-medium text-3xl text-900 mb-3">Avance del reclamo</div>
<ol class="app-progress-steps">
  <li class="app-progress-steps__item app-progress-steps__item--completed">
    <div class="app-progress-steps__item-circle"></div>
    <p class="app-progress-steps__item-description">REGISTRADO</p>

  </li>
  <div class="app-progress-steps__line app-progress-steps__line--active"></div>
  <li class="app-progress-steps__item app-progress-steps__item--completed">
    <div class="app-progress-steps__item-circle"></div>
    <p class="app-progress-steps__item-description pt-5">EN EVALUACIÓN</p>

  </li>
  <div class="app-progress-steps__line"></div>
  <li class="app-progress-steps__item">
    <div class="app-progress-steps__item-circle"></div>
    <p class="app-progress-steps__item-description">EN PROCESO</p>
  </li>

  <div class="app-progress-steps__line"></div>
  <li class="app-progress-steps__item">
    <div class="app-progress-steps__item-circle"></div>
    <p class="app-progress-steps__item-description">CERRADO</p>
  </li>
</ol>
</div>
<div class="block-section mt-8">
  <div class="block-header">
      <span class="block-title">
        <h3 class="t-busqueda">Seguimiento del Reclamo</h3>
      </span>
    <div class="block-actions text-900">


    </div>
  </div>



  <div class="block-content">
    <div class="ng-star-inserted">
      <div class="surface-section">


        <ul class="list-none p-0 m-0">
          <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground px-5">
            <div class="text-500 w-full md:w-2 font-medium">Código</div>
            <div class="text-900 w-full md:w-10">              <p-tag styleclass="mr-2"  value="255913" class="p-element"></p-tag></div>
          </li>
          <li class="flex align-items-center py-3 px-2 flex-wrap px-5">
            <div class="text-500 w-full md:w-2 font-medium">Ciudadano</div>
            <div class="text-900 w-full md:w-10 line-height-3">FIORELLA SOPHIA SOTOMAYOR FAJARDO</div>
          </li>



          <li class="flex align-items-center py-3 px-2 flex-wrap surface-ground px-5">
            <div class="text-500 w-full md:w-2 font-medium">Hoja de Reclamo</div>
            <div class="text-900 w-full md:w-10">
              <div class="grid mt-0 mr-0">
                <div class="col-12 col-md-6">
                  <div class="p-3 border-1 surface-border border-round surface-card">
                    <div class="text-900 mb-2"><i class="pi pi-map-marker mr-2"></i><span class="font-medium">Lugar</span></div>
                    <div class="text-700">Sede principal (Congreso)</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="p-3 border-1 surface-border border-round surface-card">
                    <div class="text-900 mb-2"><i class="pi pi-calendar mr-2"></i><span class="font-medium">Fecha evento</span></div>
                    <div class="text-700">mié 29 mar 23</div>
                  </div>
                </div>


                <div class="col-12 col-md-6">
                  <div class="p-3 border-1 surface-border border-round surface-card">
                    <div class="text-900 mb-2"><i class="pi pi-clock mr-2"></i><span class="font-medium">Hora</span></div>
                    <div class="text-700">10:39 aprox.</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="p-3 border-1 surface-border border-round surface-card">
                    <div class="text-900 mb-2"><i class="pi pi-history mr-2"></i><span class="font-medium">Registro del reclamo</span></div>
                    <div class="text-700">mié 29 mar 13:32 2023</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="p-3 border-1 surface-border border-round surface-card">
                    <div class="text-900 mb-2"><i class="pi pi-heart mr-2"></i><span class="font-medium">Motivo</span></div>
                    <div class="text-700">Disponibilidad</div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="p-3 border-1 surface-border border-round surface-card">
                    <div class="text-900 mb-2"><i class="pi pi-comment mr-2"></i><span class="font-medium">Descripción</span></div>
                    <div class="text-700">El reclamo consiste en...</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="row">

          <div class="col-12 ">
          <div class="flex px-8 py-3 align-items-center justify-content-center">
            <button pButton pRipple label="Imprimir" icon="pi pi-print" class="flex align-items-center justify-content-center  font-bold px-5 py-3 p-button-success p-button-raised p-button-rounded white-space-nowrap mr-5"></button>

          </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

