/*Bootstrap core imports - adjust for your case*/
// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";


$theme-color:(
  "primary": #c1282a,
  "white": #ffffff,
  "dark" : #333333
);

$theme-colors: map-merge($theme-colors, $theme-color);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";