<div class="block-section">
  <div class="block-header">
      <span class="block-title">
        <h3 class="t-busqueda">Código del seguimiento del reclamo</h3>
      </span>
    <div class="block-actions text-900">


    </div>
  </div>
  <div class="block-content">
    <div class="ng-star-inserted">
      <div class="surface-section px-4 py-4 md:px-6 lg:px-8">

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-900 font-bold text-4xl mb-3 text-green-600">El reclamo ha sido registrado correctamente</div>
    <div class="text-700 font-bold mb-3 text-3xl ">Fiorella Sophia Sotomayor Fajardo,</div>
    <div class="text-500 text-2xl mb-3">tu reclamo ha sido registrado con el código:</div>

    <div class="mb-3">
      <p-tag value="255913"  severity="" styleClass="text-2xl px-5" ></p-tag>

    </div>
    <div class="text-500 text-xl mb-8">Te brindaremos una respuesta en un plazo máximo de xx días hábiles.</div>

    <button pButton pRipple label="Imprimir" icon="pi pi-print" class="font-bold px-5 py-3 p-button-success p-button-raised p-button-rounded white-space-nowrap mr-5"></button>
    <button pButton pRipple (click)="IrSeguimiento()" label="Seguimiento del reclamo" icon="pi pi-search" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>


  </div>
</div>



      </div>
    </div>
  </div>
</div>

