<section>
  <div class="header">
    <div class="container header_box">
      <div class="row h-100">
        <div class="col-md-8 d-flex align-items-center">
          <img src="assets/images/logo_congreso.svg" class="me-3" alt="">
          <div class="block-title flex align-items-center justify-content-center">
            <h2>LIBRO DE RECLAMACIONES DIGITAL</h2>
          </div>            
        </div>
        <!--div class="col-md-4 d-none d-md-flex align-items-center justify-content-end">
          <img src="assets/images/portada.svg" class="me-2" alt="">
          <span class="fw-500">Portal</span>
        </div-->
      </div>
    </div>
    <div class="text-light bg-primary">
      <div class="container">
        <div class="layout_navbar d-flex align-items-center">
          <!--a [routerLink]="['/']"  class="layout_navbar_item fw-500 me-2">
            Inicio
          </a-->
          <a [routerLink]="['registro']" [routerLinkActive]="['active']" class="layout_navbar_item fw-500 me-2">
            Nuevo reclamo
          </a>
          <a [routerLink]="['buscar']" [routerLinkActive]="['active']" class="layout_navbar_item">
            Seguimiento de reclamo
          </a>

        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container my-5">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="footer text-white text-center pt-2 pb-3">
    <h1 class="fs-4 fw-700 font-congreso">Congreso de la República</h1>
    <p>SLRD - Versión 1.0.0 <br>
      Plaza Bolívar, Av. Abancay s/n - Lima, Perú</p>
    <p>Copyright © 2023</p>
  </div>




</section>
